@import "_global-sass.scss";

$mobile:"(max-width: 768px)";
.popup-opacity{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: 0.6;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: get-color(black);
    cursor: pointer;
}
.model-body{
	display: none;
    width: 289px; 
    min-height: 204px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 11;
}

.model-box {
    background-color: get-color(light-gray);
    color: get-color(white);
    border: none;
    border-radius: 5px;
    width: 100%;
    min-height: 204px; 
   /*  height: 300px;
     overflow-y: auto;     */
}

.heading{
	margin: 0px 0px 0px 24px;
	@include font-family(font3);
	color: get-color(white);
	font-size: 16px;
	padding-top:20px; 
}

.add-skill {
    border: none;
    border-bottom: 1px solid get-color(silver);
    padding: 25px 0 7px 0;
    margin: 0px 0 0 23px;
    background-color: get-color(light-gray);
    color: get-color(lighter-gray);
    width: 86%;
    font-size: 14px;
   @include font-family(font3);
   outline: none;
}

.model-body>.model-box>.plus-button {
    position: relative;
    bottom: 96px;
    margin-right: 30px;
    float: right;
}

.model-body>.model-box>.plus-button>.plus-image {
    height: 24px;
    width: 25px;
    margin-right: 7px;
    cursor: pointer;
    outline: none;
}

.model-body>.model-box>.add-skills-form>.new-skill-input {
    @include font-family(font1);
    font-size: 14px;
    color: get-color(lighter-gray);
    outline: none;
}

.model-foot > .savebutton > .save {
    margin-left: 25px;
    color: get-color(white);
}

.model-foot > .savebutton {
    background-image: url("/dist/images/dashboard-img/radio.png");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: 6px;
    background-color:get-color(Rose);
    border: none;
    margin:20px 0 13px 23px;
   /* margin-left: 23px;
    margin-top: 20px;
    margin-bottom: 10px;*/
    padding: 9px;
    height: 34px;
    border-radius: 4px;
    outline: none;
}

.close-popup:before{
    position:absolute;
    content: '\f00d';
    font-family: FontAwesome;
    right: 8px;
    top: 6px;
    color: white;
    cursor: pointer;
}

.error-message{
    color: get-color(Rose);
    font-size: 16px;
    display: inline;
    margin-left: 100px;
    font-weight: bold;
    position: absolute;
    bottom: 45px;
    right: 44px;
     @include font-family(font3);
}

 @media #{$mobile}{$media : #{$mobile};

    .model-body{
        width:90%;
        /* min-height:420px; */
        min-height: 205px;
    }

    .box{
       /*  min-height:420px; */
       min-height: 205px;
    }

    

    .heading {
    margin: 0px 0px 0px 34px;
   @include font-family(font3);
    color: #fff;
    font-size: 16px;
    padding-top: 29px;
    }

   

    .add-skill{
    border: none;
    border-bottom: 1px solid get-color(silver);
    padding: 30px 0 7px 6px;
    margin: 0px 0 0 28px;
    background-color: #424242;
    color: #999;
    width: 85%;
    font-size: 14px;
    @include font-family(font3);
    outline: none;
    }

    .model-body>.model-box>.plus-button {
    position: relative;
    bottom: 126px;
    margin-right: 32px;
    float: right;
    }

  

  .model-body > .model-box > .plus-button > .plus-image {
   height: 32px;
   width: 32px;
   margin-right: 7px;
   margin-bottom: 8px;
   cursor: pointer;
   outline: none;
   } 

   

    .model-foot > .savebutton {
    background-image: url("/dist/images/dashboard-img/radio.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 18px;
    background-color: #D22324;
    border: none;
    margin-left: 32px;
    margin-top: 32px;
    padding: 12px 10px 30px 28px;
    height: 36px;
    border-radius: 5px;
    }

    .model-foot > .savebutton > .save {
        margin-left: 21px;
        color: get-color(white);
        font-size: 16px;
    }

    .close-popup:before{
    position: absolute;
    content: '\f00d';
    font-family: FontAwesome;
    right: 16px;
    top: 24px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    }

    .error-message{
    color: get-color(Rose);
    font-size: 16px;
    display: inline;
    margin-left: 100px;
    font-weight: bold;
    position: absolute;
    bottom: 68px;
    right: 44px;
     @include font-family(font3);
}


}

